@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css?family=Inconsolata|Lato:300,400,700');

.bonito{
	border-radius:50px;
	margin-left:10px;
	border: 1px solid white;
	font-color:white;
}

.boton{
	border-radius:50px;
	margin-left:10px;
	border: 1px solid white;
	background-color:#345;
	font-family: 'Lato', sans-serif;
	color:white;
	font-weight: bold;
}

.mitad1{
	position:fixed;
	top:15%;
	margin-right:49%;
	padding-right:0.5%;
}

.mitad2{
	position:fixed;
	padding-left:1%;
	top:15%;
	margin-left:57%;
	border-left:1px solid white;
	height:76%
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 5px;
  text-align: center;    
}