@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css?family=Inconsolata|Lato:300,400,700');

select,input[type="text"],input[type="search"],
input[type="password"],input[type="number"],
input[type="email"],input[type="phone"]{
	border: 1px solid black;
	border-radius:50px;
	margin-left:10px;
	border: 1px solid white;
	font-color:white;
}



input[type="search"]{
	margin-bottom:5px;
}

input[type="button"],input[type="submit"]{
	border-radius:50px;
	margin-left:10px;
	border: 1px solid white;
	background-color:#345;
	font-family: 'Lato', sans-serif;
	color:white;
	font-weight: bold;
}

.mitad1{
	position:fixed;
	top:15%;
	margin-right:49%;
	padding-right:0.5%;
}

.mitad2{
	position:fixed;
	padding-left:1%;
	top:15%;
	margin-left:57%;
	border-left:1px solid white;
	height:76%
}

label{
	color:white;
	font-family: 'Lato', sans-serif;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  
  color:black;
  background-color: #345;
}

th, td {
  padding: 5px;
  text-align: center;    
}

#nvSolapas a{
	display:inline-block;
	background-color:#345;
	padding:2px;
	text-align:center;
	color:white;
	border:1px solid white;
	text-decoration:none;
}

#nvSolapas a:hover{
	color:black;
	text-shadow: 1px 1px 0 #FFF;
}